html,
body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

body {
  background-color: #1c1917;
  color: #fafaf9;
  padding: 4em 10em;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  height: 20em;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

li {
  list-style: none;
  margin-bottom: 1em;
}

h1 {
  text-align: center;
}

p {
  padding: 0;
  margin: .1em 0 0;
  word-wrap: break-word;
  max-width: 80%;
}

.clickable {
  cursor: pointer;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator {
  opacity: 1
}

.htmx-request.htmx-indicator {
  opacity: 1
}

.icon {
  width: 1.25em;
}

.icon img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.item.htmx-swapping {
  opacity: 0;
  color: #d97706;
  transition: opacity 500ms ease-in;
}

.item {
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 97%;
  gap: 1em;
}

.list-buttons {
  display: flex;
  align-items: top;
  gap: 1em;
  flex-shrink: 0;
}

.inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
