<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
  <form hx-post="/add" hx-swap="outerHTML" th:fragment="form">
    <input id="item" name="item">
    <button type="submit">Add item</button>
  </form>

  <li th:id="'item-' + ${item.id}" th:fragment="list-item (item)">
    <span th:text="${item.content}"></span>
    <div th:hx-delete="'/delete?id=' + ${item.id}" th:hx-target="'#item-' + ${item.id}" hx-swap="outerHTML"
      class="icon-button">
      <img src="/icons/trash.svg">
    </div>
  </li>

  <ul id="items" hx-swap-oob="beforeend" th:fragment="oob-list-item (item)">
    <div th:replace="~{::list-item (${item})}"> </div>
  </ul>

  <th:block th:fragment="return-value">
    <div th:replace="~{::form}"></div>

    <div th:replace="~{::oob-list-item (${item})}"></div>
  </th:block>
</body>

</html>
